@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(#e66465, #9198e5);
}
.container h1 {
  opacity: 0.8;
  color: #fff;
  letter-spacing: -2px;
}
.container {
  text-align: center;
  border: black 2px solid;
  border-radius: 20px;
  padding: 50px 20px;
  background-color: rebeccapurple;
  width: 70%;
  margin: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.4);
}

.joke {
  padding: 40px 20px;
  font-size: 19px;
  letter-spacing: 1px;
}

.btn {
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 16px;
  border: 0;
  text-transform: uppercase;
  font-weight: bolder;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.4);
}
.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
